body {
	margin:0;
	padding:0;
	font-family:arial, tahoma;
}

.header {
	background-image:url("1.jpg");
	background-size:cover;
	height:660px;
	width:100%;
	overflow:hidden;
}

.header h1 {
	margin:auto;
	margin-top:22%;
	padding:15px;
	font-size:60px;
	color:#fff;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	width:450px;
	text-shadow:4px 4px 8px #080;
	text-transform:uppercase;
}

.header .logo {
	width:160px;
	height:80px;
	border:3px solid #fff;
	margin:10px 0px 0px 10px;
	border-radius:50%;
	padding:30px;
	float:left;
}

.header .logo img {
	width:100%;
	height:100%;
}

.header .navigation {
	float:right;
}

.header .navigation ul {
	margin:60px;
	padding:0;
}

.header .navigation ul li {
	display:inline-block;
	color:#000;
	margin-right:25px;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	padding:15px;
}

.header .navigation ul li a{
	text-decoration:none;
	color:#000;
}

.header .navigation ul li:hover {
	color:#fff;
	cursor:pointer;
	transition:1s;
	background:#000;
	border-radius:40%;

}

.header .navigation ul li a:hover{
	color:#fff;
}


.content {
	height:720px;
	background-image:url("111.jpg");
	background-size:cover;
	background-attachment:fixed;
}

.content div {
	background:#fff;
	display:inline;
	padding:20px;
	text-align:center;
	margin:80px;
	margin-top:120px;
	float:left;
	border-radius:10%;
	box-shadow:2px 2px 5px #000;
}

.content div h1 {
	color:#000;
	font-weight:bold;
	background:#eee;
	padding:5px;
	border-radius:10%;
}

.content .femme img {
	width:300px;
	height:300px;
	box-shadow:2px 2px 5px #000;
	border-radius:10%;
}

.content .femme a {
	display:block;
	font-size:36px;
	margin-top:15px;
	text-decoration:none;
	color:#000;
}

.content .femme a:hover {
	color:#080;
	transition:1s;
	text-shadow:2px 2px 4px #000;
}

.content .homme {
	float:right;
}

.content .homme img {
	width:300px;
	height:300px;
	box-shadow:2px 2px 5px #000;
	border-radius:10%;
}

.content .homme a {
	display:block;
	font-size:36px;
	margin-top:15px;
	text-decoration:none;
	color:#000;
}

.content .homme a:hover {
	color:#080;
	transition:1s;
	text-shadow:2px 2px 4px #000;
}

.content .homme a:active {
	color:red;
}


.contact {
	height:660px;
	background-image:url("SH.jpg");
	background-size:cover;
	background-attachment:fixed;
	position:relative;

}

.contact div {
	width:500px;
	background:#000;
	
	position:absolute;
	top:30%;
	left:30%;
	border-radius:30%;
}

.contact form {
	padding:50px;
	text-align:center;
}

.contact form input {
	padding:15px;
	margin-top:10px;
}

.contact form input[type="submit"] {
	color:#fff;
	font-weight:bold;
	border:1px solid #080;
	border-radius:20%;
	background:#080;
}

.contact form label {
	color:#fff;
}

.footer {
	text-align:center;
	padding:60px;
	font-weight:bold;
	font-size:36px;
	color:#676767;
	text-shadow:2px 2px 5px #080;
}
.a {
	
	margin-top:12%;
}
.b{
	margin-bottom: 15%;
}



